<p>
	¡Hola <people></people>!
</p>
<br>
<p>
	Me llamo <em>Daniel Esteban Nombela</em>.
</p>
<p>
	Desarrollo <em>aplicaciones y videojuegos</em> con <a href="#/project/CFC">WebGL</a>, <a href="#/project/IsoMetric">JavaScript</a>, <a href="#/project/GMVS">C/C++</a> y <a href="#/project/MMORPG">Node.js</a> para <em>múltiples plataformas</em>.
</p>
<p>
	Tengo más de <em>10 años de experiencia</em> en la industria y he trabajado en empresas como <a href="https://www.tuenti.com" target="_blank">Tuenti</a> y <a href="http://www.rtve.es/noticias/20110410/nace-gatunes-primera-red-social-espanola-musica/423468.shtml" target="_blank">Gatunes</a>.
</p>
<br>
<p>
	Si tienes una idea o proyecto a desarrollar, puedes escribirme a:<br>
	<a href="mailto:dani@gatunes.com">dani@gatunes.com</a>
</p>
<checkerboard></checkerboard>
